* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.1rem;
}

body {
    background: rgb(8, 144, 122);
    background: radial-gradient(circle, rgba(8, 144, 122, 1) 0%, rgba(12, 180, 153, 1) 28%, rgba(7, 238, 205, 1) 66%);
    padding: 3rem;
}

div {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    border-radius: 10px;
    width: 250px;
    margin: 0.2rem;
    padding: 10px;
}

textarea {
    width: 250px;
    height: 100px;
    margin: 0.5rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    width: 250px;
    height: 30px;
    background-color: aquamarine;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}

li {
    list-style-type: none;
    padding: 2rem;
    margin: 1rem;
    width: 250px;
    box-shadow: 0 10px 10px -6px #777;
    background-color: lightgrey;
}